</html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />

    <meta name="description" content="HandPaint made in Flask" />
    <meta name="author" content="alizahidraja" />

    <title>HandPaint</title>

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="HandPaint">
    <meta itemprop="description" content="HandPaint made in Flask">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-8">
                <h1>Hand Paint</h1>
                <img src="{{ url_for('video_feed') }}">
            </div>
            <br>
            <h4>
                <button>
                    <a href="{{ url_for('ss') }}">
                        Take Screenshot!
                    </a>
                </button>
            </h4>
        </div>
    </div>

</body>

</html>